main {
    background-color: black;
    color: white;
    padding: 3rem 0 1rem;
    .cta {
        text-align: center;
        margin-top: 2rem;
        button {
            text-transform: uppercase;
            background-color: #0282F9;
            border: 0;
            color: white;
            padding: 1rem 3rem;
            font-weight: 700;
            cursor: pointer;
            
        }
    }
}